<section class="projects-section">
  <div class="header-content">
    <span class="subtitle">Portfolio</span>
    <h2>Featured Projects</h2>
    <p class="description">
      Explore a selection of my work here - Interact with<br />
      projects to see my skills in action.
    </p>
  </div>

  <div class="project-list">
    <div class="project-row">
      <div class="project-title">
        <h3 class="project-name">Join</h3>
        <img
          class="arrow-icon"
          src="../../assets/img/icons/other-icons/arrow_outward.png"
          alt=""
        />
      </div>

      <span class="project-tech">
        JavaScript <span class="tech-sep">|</span> HTML
        <span class="tech-sep">|</span> CSS
        <span class="tech-sep">|</span> Firebase
      </span>

      <div class="project-preview-wrapper">
        <img
          src="../../assets/img/projects/join.png"
          alt="Join project preview"
        />
        <div class="stiches-lines"></div>
      </div>
    </div>

    <div class="project-row">
      <div class="project-title">
        <h3 class="project-name">Sharkie</h3>
        <img
          class="arrow-icon"
          src="../../assets/img/icons/other-icons/arrow_outward.png"
          alt=""
        />
      </div>
      <span class="project-tech">
        JavaScript <span class="tech-sep">|</span> HTML
        <span class="tech-sep">|</span> CSS
      </span>
      <div class="project-preview-wrapper">
        <img
          src="../../assets/img/projects/sharkie.png"
          alt="El Pollo Loco preview"
        />
        <div class="stiches-lines"></div>
      </div>
    </div>

    <div class="project-row">
      <div class="project-title">
        <h3 class="project-name">Ring of Fire</h3>
        <img
          class="arrow-icon"
          src="../../assets/img/icons/other-icons/arrow_outward.png"
          alt=""
        />
      </div>
      <span class="project-tech">
        Angular <span class="tech-sep">|</span> TypeScript
        <span class="tech-sep">|</span> HTML <span class="tech-sep">|</span> CSS
        <span class="tech-sep">|</span> Firebase
      </span>
      <div class="project-preview-wrapper">
        <img
          src="../../assets/img/projects/ringoffire.png"
          alt="DA Bubble preview"
        />
        <div class="stiches-lines"></div>
      </div>
    </div>

    <div class="project-row">
      <div class="project-title">
        <h3 class="project-name">Pokedex</h3>
        <img
          class="arrow-icon"
          src="../../assets/img/icons/other-icons/arrow_outward.png"
          alt=""
        />
      </div>

      <span class="project-tech"
        >JavaScript <span class="tech-sep">|</span> HTML
        <span class="tech-sep">|</span> CSS <span class="tech-sep">|</span> API
      </span>

      <div class="project-preview-wrapper">
        <img
          src="../../assets/img/projects/pokedex.png"
          alt="Join project preview"
        />
        <div class="stiches-lines"></div>
      </div>
    </div>

    <div class="project-row">
      <div class="project-title">
        <h3 class="project-name">Bestell App</h3>
        <img
          class="arrow-icon"
          src="../../assets/img/icons/other-icons/arrow_outward.png"
          alt=""
        />
      </div>

      <span class="project-tech">
        JavaScript <span class="tech-sep">|</span> HTML
        <span class="tech-sep">|</span> CSS
      </span>

      <div class="project-preview-wrapper">
        <img
          src="../../assets/img/projects/bestellapp.png"
          alt="Join project preview"
        />
        <div class="stiches-lines"></div>
      </div>
    </div>
  </div>
</section>
