<section class="projects-section" id="projects">
  <div class="header-content">
    <span class="subtitle">Portfolio</span>
    
    @if (langService.currentLang === 'EN') {
      <h2>Featured Projects</h2>
      <p class="description">
        Explore a selection of my work here - Interact with<br />
        projects to see my skills in action.
      </p>
    } @else {
      <h2>Projekte</h2>
      <p class="description">
        Entdecke hier eine Auswahl meiner Arbeit – interagiere mit<br />
        den Projekten, um meine Fähigkeiten in Aktion zu sehen.
      </p>
    }
  </div>

  <div class="project-list">
    <div class="project-row" (click)="openProject(0)">
      <div class="project-title">
        <h3 class="project-name">Join</h3>
        <img class="arrow-icon" src="../../assets/img/icons/other-icons/arrow_outward.png"/>
      </div>
      <span class="project-tech">JavaScript<span class="tech-sep">|</span>HTML<span class="tech-sep">|</span>CSS<span class="tech-sep">|</span>Firebase</span>
      <div class="project-preview-wrapper">
        <img src="../../assets/img/projects/join.png" alt="Join project preview"/>
        <div class="stiches-lines"></div>
      </div>
    </div>

    <div class="project-row" (click)="openProject(1)">
      <div class="project-title">
        <h3 class="project-name">Sharkie</h3>
        <img class="arrow-icon" src="../../assets/img/icons/other-icons/arrow_outward.png"/>
      </div>
      <span class="project-tech">JavaScript<span class="tech-sep">|</span>HTML<span class="tech-sep">|</span>CSS</span>
      <div class="project-preview-wrapper">
        <img src="../../assets/img/projects/sharkie.png" alt="sharkie preview"/>
        <div class="stiches-lines"></div>
      </div>
    </div>

    <div class="project-row" (click)="openProject(2)">
      <div class="project-title">
        <h3 class="project-name">Pokedex</h3>
        <img class="arrow-icon" src="../../assets/img/icons/other-icons/arrow_outward.png"/>
      </div>
      <span class="project-tech">JavaScript<span class="tech-sep">|</span>HTML<span class="tech-sep">|</span>CSS<span class="tech-sep">|</span>REST-API</span>
      <div class="project-preview-wrapper">
        <img src="../../assets/img/projects/pokedex.png" alt="pokedex project preview"/>
        <div class="stiches-lines"></div>
      </div>
    </div>

    <div class="project-row" (click)="openProject(3)">
      <div class="project-title">
        <h3 class="project-name">Ring of Fire</h3>
        <img class="arrow-icon" src="../../assets/img/icons/other-icons/arrow_outward.png"/>
      </div>
      <span class="project-tech">Angular<span class="tech-sep">|</span>TypeScript<span class="tech-sep">|</span>HTML<span class="tech-sep">|</span>CSS<span class="tech-sep">|</span>Firebase</span>
      <div class="project-preview-wrapper">
        <img src="../../assets/img/projects/ringoffire.png" alt="ringoffire preview"/>
        <div class="stiches-lines"></div>
      </div>
    </div>

    <div class="project-row" (click)="openProject(4)">
      <div class="project-title">
        <h3 class="project-name">Bestell App</h3>
        <img class="arrow-icon" src="../../assets/img/icons/other-icons/arrow_outward.png"/>
      </div>
      <span class="project-tech">JavaScript<span class="tech-sep">|</span>HTML<span class="tech-sep">|</span>CSS</span>
      <div class="project-preview-wrapper">
        <img src="../../assets/img/projects/bestellapp.png" alt="bestellapp project preview"/>
        <div class="stiches-lines"></div>
      </div>
    </div>
  </div>
</section>

@if (currentProject) {
  <app-project-overlay [currentProject]="currentProject" (close)="closeOverlay()" (next)="nextProject()"></app-project-overlay>
}