<nav class="navbar">
  
  <div class="nav-left desktop-only">
    <div class="lang-switch">
      <span class="lang-btn" [class.active]="langService.currentLang === 'EN'" (click)="langService.setLanguage('EN')">EN</span>
      <span class="lang-btn" [class.active]="langService.currentLang === 'DE'" (click)="langService.setLanguage('DE')">DE</span>
    </div>

    <div class="nav-links">
      <a (click)="scrollTo('about-me')" class="nav-link">
        @if (langService.currentLang === 'EN') {
          <span>About me</span>
        } @else {
          <span>Über mich</span>
        }
      </a>
      <a (click)="scrollTo('skills')" class="nav-link">
        @if (langService.currentLang === 'EN') {
          <span>Skills</span>
        } @else {
          <span>Fähigkeiten</span>
        }
      </a>
      <a (click)="scrollTo('projects')" class="nav-link">
        @if (langService.currentLang === 'EN') {
          <span>Projects</span>
        } @else {
          <span>Projekte</span>
        }
      </a>
    </div>
  </div>

  <div class="nav-right">
    <img src="../../assets/img/logo.png" alt="Ioannis Logo" class="logo"/>
    <img src="../../assets/img/logo-mobile.png" alt="Ioannis Logo Mobile" class="logo-mobile"/>
  </div>

  <div class="burger-btn mobile-only" (click)="toggleMenu()" [class.open]="isMenuOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="mobile-menu" [class.show]="isMenuOpen">
    <a (click)="scrollTo('about-me')" class="mobile-link">
      @if (langService.currentLang === 'EN') {
        <span>About me</span>
      } @else {
        <span>Über mich</span>
      }
    </a>
    <a (click)="scrollTo('skills')" class="mobile-link">
      @if (langService.currentLang === 'EN') {
        <span>Skills</span>
      } @else {
        <span>Fähigkeiten</span>
      }
    </a>
    <a (click)="scrollTo('projects')" class="mobile-link">
      @if (langService.currentLang === 'EN') {
        <span>Projects</span>
      } @else {
        <span>Projekte</span>
      }
    </a>
    
    <div class="lang-switch-mobile">
      <span class="lang-btn" 
            [class.active]="langService.currentLang === 'EN'" 
            (click)="langService.setLanguage('EN')">EN</span>
      <span class="lang-btn" 
            [class.active]="langService.currentLang === 'DE'" 
            (click)="langService.setLanguage('DE')">DE</span>
    </div>
  </div>

  <div class="menu-overlay" [class.show]="isMenuOpen" (click)="closeMenu()"></div>

</nav>