.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 112px; 
  width: 100%;
  max-width: 1440px;
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 10;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.lang-switch {
  display: flex;
  align-items: center;
  border: 1px solid #3dcfb6;
  border-radius: 30px;
  cursor: pointer;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: white;
  }

  .lang-btn {
    padding: 8px 16px;
    font-family: var(--font-fira);
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    transition: all 0.3s ease;
    color: rgba(61, 207, 182, 0.4);

    &.active {
      background-color: #3dcfb6;
      color: white;
    }

    &:not(.active):hover {
      color: #3dcfb6;
    }
  }
}

.nav-links {
  display: flex;
  gap: 24px;

  .nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    font-family: var(--font-fira);
    font-size: 20px;
    transition: color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 6px;
      height: 6px;
      background-color: #3dcfb6;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      color: #3dcfb6;
      &::after {
        opacity: 1;
      }
    }
  }
}

.logo-mobile {
  display: none;
  width: 40px;
}

.nav-right .logo {
  width: 150px;
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

.mobile-menu {
  display: none;
}

.menu-overlay {
  display: none;
}

@media (max-width: 1100px) {
  .navbar {
    padding: 40px 48px;
  }
}

@media (max-width: 850px) {
  .menu-overlay {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  .navbar {
    padding: 24px 24px;
  }

  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: flex;
  }

  .nav-right {
    width: 120px;
  }

  .burger-btn {
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    cursor: pointer;
    z-index: 100;

    span {
      width: 100%;
      height: 2px;
      background-color: #3dcfb6;
      border-radius: 2px;
      transition: all 0.3s ease;
      transform-origin: left;
    }

    &.open span:first-child {
      transform: rotate(45deg);
    }
    &.open span:nth-child(2) {
      opacity: 0;
    }
    &.open span:last-child {
      transform: rotate(-45deg);
    }
  }

  .mobile-menu {
    position: absolute;
    top: 80px;
    right: 24px;
    background-image: radial-gradient(circle at top right,rgba(8, 70, 59, 0.6) 20%,#1C1C1C 66%);
    border: 1px solid #3DCFB6;
    border-radius: 32px;
    padding: 30px 74px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: all 0.3s ease;
    z-index: 99;

    &.show {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }

    .mobile-link {
      color: white;
      font-family: var(--font-fira);
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: #3DCFB6;
      }
    }

    .lang-switch-mobile {
      display: flex;
      align-items: center;
      border: 1px solid #3dcfb6;
      border-radius: 30px;
      cursor: pointer;
      transition: border-color 0.3s ease;

      &:hover {
        border-color: white;
      }

      .lang-btn {
        padding: 8px 16px;
        font-family: var(--font-fira);
        font-size: 16px;
        font-weight: bold;
        border-radius: 30px;
        transition: all 0.3s ease;
        color: rgba(61, 207, 182, 0.4);

        &.active {
          background-color: #3DCFB6;
          color: white;
        }

        &:not(.active):hover {
          color: #3DCFB6;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .navbar {
    padding: 24px 16px;
  }
  .mobile-menu {
    right: 16px;
    padding: 30px 50px;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: inline;
  }
}
