<div class="hero">

  <app-navbar></app-navbar>

  <div class="title">
      @if (langService.currentLang === 'EN') {
        <span>Frontend Developer</span>
      } @else {
        <span>Frontend Entwickler</span>
      }
      
      <h1>Ioannis Karalis</h1>

      <div class="buttons">
        <button class="marquee-btn" (click)="scrollTo('projects')">
          @if (langService.currentLang === 'EN') {
            <span>Check my work</span>
          } @else {
            <span>Projekte ansehen</span>
          }
        </button>
        <button class="marquee-btn" (click)="scrollTo('contact')">
          @if (langService.currentLang === 'EN') {
            <span>Contact me</span>
          } @else {
            <span>Kontaktiere mich</span>
          }
        </button>
      </div>
  </div>

<div class="hero-content-wrapper">

  <div class="scroll-indicator-left">
    <div class="circle-arrow">
      <img src="../../assets/img/icons/other-icons/arrow_down.png" alt="Scroll down">
    </div>
    <div class="line-green"></div>
  </div>

<div class="social-indicator-right">
    
    <a href="mailto:hello@ikaralis.com" class="email-link desktop-only-flex">hello&#64;ikaralis.com</a>

    <div class="social-icons-group">
      
      <a href="mailto:hello@ikaralis.com" class="social-icon mobile-only-flex">
        <img src="../../assets/img/icons/contact-icons/mail.png" class="img-default" alt="Email">
        <img src="../../assets/img/icons/contact-icons/mail_hover.png" class="img-hover" alt="Email">
      </a>

      <a href="https://github.com/Ioannis1Karalis" target="_blank" class="social-icon">
        <img src="../../assets/img/icons/contact-icons/github.png" class="img-default" alt="GitHub">
        <img src="../../assets/img/icons/contact-icons/github_hover.png" class="img-hover" alt="GitHub">
      </a>

      <a href="https://www.linkedin.com/in/ioannis-karalis-096bb7162/" target="_blank" class="social-icon">
        <img src="../../assets/img/icons/contact-icons/linkedin.png" class="img-default" alt="LinkedIn">
        <img src="../../assets/img/icons/contact-icons/linkedin_hover.png" class="img-hover" alt="LinkedIn">
      </a>

    </div> 
    <div class="line-white"></div>
  </div>
</div>  

  <div class="ticker-wrap">
    <div class="ticker-track">
      
      <div class="ticker-content">
        @for (item of tickerItems; track $index) {
          <span>{{ item }}</span>
        }
      </div>

      <div class="ticker-content" aria-hidden="true">
        @for (item of tickerItems; track $index) {
          <span>{{ item }}</span>
        }
      </div>

    </div>
  </div>

</div>