<div class="legal-page-wrapper">
  
  <app-navbar></app-navbar>

  <main class="legal-content">
    <h1>Privacy Policy</h1>

    <section>
      <h2 class="imprint-title">1. An overview of data protection</h2>
      <p><strong>General information</strong><br>
      The following information will provide you with an easy to navigate overview of what will happen with your personal data when you visit this website. The term "personal data" comprises all data that can be used to personally identify you. For detailed information about the subject matter of data protection, please consult our Data Protection Declaration, which we have included beneath this copy.</p>
    </section>

    <section>
      <h2>2. General information and mandatory information</h2>
      <p><strong>Data protection</strong><br>
      The operators of this website take the protection of your personal data very seriously. We treat your personal data as confidential and in accordance with the statutory data protection regulations and this Data Protection Declaration.</p>
      <p>When you use this website, various personal data are collected. Personal data comprises data that can be used to personally identify you. This Data Protection Declaration explains which data we collect as well as the purposes we use this data for. It also explains how, and for which purpose the information is collected.</p>
    </section>

    <section>
      <h2>3. Information about the responsible party</h2>
      <p>The controller responsible for data processing on this website is:</p>
      <ul>
        <li>Ioannis Karalis</li>
        <li>Bertholdstr. 17</li>
        <li>80809 München</li>
      </ul>
      <p>Email: <a href="mailto:i.karalis@outlook.de">i.karalis&#64;outlook.de</a></p>
    </section>

    <section>
      <h2>4. Data collection on this website</h2>
      <p><strong>Server log files</strong><br>
      The provider of this website and its pages automatically collects and stores information in so-called server log files, which your browser communicates to us automatically. The information comprises:</p>
      <ul>
        <li>The type and version of browser used</li>
        <li>The used operating system</li>
        <li>Referrer URL</li>
        <li>The hostname of the accessing computer</li>
        <li>The time of the server inquiry</li>
        <li>The IP address</li>
      </ul>
      <p>This data is not merged with other data sources. This data is recorded on the basis of Art. 6(1)(f) GDPR. The operator of the website has a legitimate interest in the technically error free depiction and the optimization of the operator's website. In order to achieve this, server log files must be recorded.</p>
    </section>

    <section>
      <h2>5. Inquiry by e-mail or telephone</h2>
      <p>If you contact us by e-mail or telephone, your request, including all resulting personal data (name, request) will be stored and processed by us for the purpose of processing your request. We do not pass these data on without your consent.</p>
      <p>These data are processed on the basis of Art. 6(1)(b) GDPR if your inquiry is related to the fulfillment of a contract or is required for the performance of pre-contractual measures. In all other cases, the data are processed on the basis of our legitimate interest in the effective handling of inquiries submitted to us (Art. 6(1)(f) GDPR) or on the basis of your consent (Art. 6(1)(a) GDPR) if it has been obtained.</p>
    </section>

    <section>
      <h2>6. Your Rights</h2>
      <p>You have the right to receive information about the origin, recipient, and purpose of your stored personal data at any time without a fee. You also have the right to demand that this data be rectified or eradicated. If you have consented to data processing, you have the option to revoke this consent at any time, which shall affect all future data processing. Moreover, you have the right to demand that the processing of your data be restricted under certain circumstances. You also have the right to log a complaint with the competent supervising agency.</p>
      
      <p>Date: Mar 18, 2026</p>
    </section>

  </main>

  <app-footer></app-footer>

</div>