<div class="legal-page-wrapper">
  
  <app-navbar></app-navbar>

  <main class="legal-content">

    <button class="mobile-back-btn" (click)="goHome()">
      <img src="../../assets/img/icons/other-icons/arrow_left.png" 
           [alt]="langService.currentLang === 'EN' ? 'Back to Homepage' : 'Zurück zur Startseite'">
    </button>
    
    @if (langService.currentLang === 'EN') {
      <h1>Legal Notice</h1>
    } @else {
      <h1>Impressum</h1>
    }

    <section>
      @if (langService.currentLang === 'EN') {
        <h2 class="imprint-title">Imprint</h2>
      } @else {
        <h2 class="imprint-title">Betreiber der Website</h2>
      }
      <ul>
        <li>Ioannis Karalis</li>
        <li>Bertholdstr. 17</li>
        <li>80809 München</li>
      </ul>
    </section>

    <section>
      @if (langService.currentLang === 'EN') {
        <h2>Contact</h2>
      } @else {
        <h2>Kontakt</h2>
      }
      <p>Email: <a href="mailto:i.karalis@outlook.de">i.karalis&#64;outlook.de</a></p>
    </section>

    <section>
      @if (langService.currentLang === 'EN') {
        <h2>Acceptance of terms</h2>
        <p>By accessing and using <strong>Portfolio</strong> (Product), you acknowledge and agree to the following terms and conditions, and any policies, guidelines, or amendments thereto that may be presented to you from time to time. We, the listed students, may update or change the terms and conditions from time to time without notice.</p>
      } @else {
        <h2>Akzeptanz der Nutzungsbedingungen</h2>
        <p>Durch den Zugriff auf und die Nutzung von <strong>Portfolio</strong> (Produkt) erkennen Sie die folgenden Bedingungen und Konditionen sowie alle Richtlinien oder Änderungen an, die Ihnen von Zeit zu Zeit präsentiert werden können. Wir, die aufgeführten Studierenden, können die Bedingungen von Zeit zu Zeit ohne vorherige Ankündigung aktualisieren oder ändern.</p>
      }
    </section>

    <section>
      @if (langService.currentLang === 'EN') {
        <h2>Scope and ownership of the product</h2>
        <p><strong>Portfolio</strong> has been developed as part of a student group project in a web development bootcamp at the <strong>Developer Akademie GmbH</strong>. It has an educational purpose and is not intended for extensive personal & business usage. As such, we cannot guarantee consistent availability, reliability, accuracy, or any other aspect of quality regarding this Product.</p>
        <p>The design of <strong>Portfolio</strong> is owned by the <strong>Developer Akademie GmbH</strong>. Unauthorized use, reproduction, modification, distribution, or replication of the design is strictly prohibited.</p>
      } @else {
        <h2>Umfang und Eigentumsrechte des Produkts</h2>
        <p><strong>Portfolio</strong> wurde im Rahmen eines studentischen Projekts in einem Webentwicklungs-Bootcamp an der <strong>Developer Akademie GmbH</strong> entwickelt. Es hat einen Bildungszweck und ist nicht für eine umfassende persönliche oder geschäftliche Nutzung vorgesehen. Daher können wir keine ständige Verfügbarkeit, Zuverlässigkeit, Genauigkeit oder andere Qualitätsaspekte in Bezug auf dieses Produkt garantieren.</p>
        <p>Das Design von <strong>Portfolio</strong> ist Eigentum der <strong>Developer Akademie GmbH</strong>. Die unbefugte Nutzung, Reproduktion, Änderung, Verbreitung oder Nachbildung des Designs ist strengstens untersagt.</p>
      }
    </section>

    <section>
      @if (langService.currentLang === 'EN') {
        <h2>Proprietary rights</h2>
        <p>Aside from the design owned by <strong>Developer Akademie GmbH</strong>, we, the listed students, retain all proprietary rights in <strong>Portfolio</strong>, including any associated copyrighted material, trademarks, and other proprietary information.</p>
      } @else {
        <h2>Eigentumsrechte</h2>
        <p>Abgesehen von dem Design, das Eigentum der <strong>Developer Akademie GmbH</strong> ist, behalten wir, die aufgeführten Studierenden, alle Eigentumsrechte an <strong>Portfolio</strong>, einschließlich aller damit verbundenen urheberrechtlich geschützten Materialien, Marken und anderen geschützten Informationen.</p>
      }
    </section>

    <section>
      @if (langService.currentLang === 'EN') {
        <h2>Use of the product</h2>
        <p><strong>Portfolio</strong> is intended to be used for lawful purposes only, in accordance with all applicable laws and regulations. Any use of <strong>Portfolio</strong> for illegal activities, or to harass, harm, threaten, or intimidate another person, is strictly prohibited. You are solely responsible for your interactions with other users of <strong>Portfolio</strong>.</p>
      } @else {
        <h2>Nutzung des Produkts</h2>
        <p><strong>Portfolio</strong> ist nur für rechtmäßige Zwecke und in Übereinstimmung mit allen geltenden Gesetzen und Vorschriften zu verwenden. Jegliche Nutzung von <strong>Portfolio</strong> für illegale Aktivitäten oder um andere Personen zu belästigen, zu schädigen, zu bedrohen oder einzuschüchtern, ist strengstens untersagt. Sie sind allein für Ihre Interaktionen mit anderen Nutzern von <strong>Portfolio</strong> verantwortlich.</p>
      }
    </section>

    <section>
      @if (langService.currentLang === 'EN') {
        <h2>Disclaimer of warranties and limitation of liability</h2>
        <p><strong>Portfolio</strong> is provided "as is" without warranty of any kind, whether express or implied, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. In no event will we, the listed students, or the <strong>Developer Akademie</strong>, be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses, even if we have been advised of the possibility of such damages, arising out of or in connection with the use or performance of <strong>Portfolio</strong>.</p>
      } @else {
        <h2>Haftungsausschluss und Haftungsbeschränkung</h2>
        <p><strong>Portfolio</strong> wird "wie besehen" (as is) ohne jegliche ausdrückliche oder stillschweigende Garantie zur Verfügung gestellt, einschließlich, aber nicht beschränkt auf stillschweigende Garantien der Marktgängigkeit, der Eignung für einen bestimmten Zweck und der Nichtverletzung von Rechten Dritter. In keinem Fall haften wir, die aufgeführten Studierenden oder die <strong>Developer Akademie</strong> für direkte, indirekte, zufällige, besondere, Folge- oder exemplarische Schäden, einschließlich, aber nicht beschränkt auf Schäden aus entgangenem Gewinn, Goodwill, Nutzung, Daten oder anderen immateriellen Verlusten, selbst wenn wir auf die Möglichkeit solcher Schäden hingewiesen wurden, die sich aus oder in Verbindung mit der Nutzung oder Leistung von <strong>Portfolio</strong> ergeben.</p>
      }
    </section>

    <section>
      @if (langService.currentLang === 'EN') {
        <h2>Indemnity</h2>
        <p>You agree to indemnify, defend and hold harmless us, the listed students, the <strong>Developer Akademie</strong>, and our affiliates, partners, officers, directors, agents, and employees, from and against any claim, demand, loss, damage, cost, or liability (including reasonable legal fees) arising out of or relating to your use of <strong>Portfolio</strong> and/or your breach of this Legal Notice.</p>
        
        <p>For any questions or notices, please contact us at <a href="mailto:i.karalis@outlook.de">i.karalis&#64;outlook.de</a>.</p>
        
        <p>Date: Mar 23, 2026</p>
      } @else {
        <h2>Freistellung</h2>
        <p>Sie erklären sich damit einverstanden, uns, die aufgeführten Studierenden, die <strong>Developer Akademie</strong> und unsere verbundenen Unternehmen, Partner, leitenden Angestellten, Direktoren, Agenten und Mitarbeiter zu verteidigen, freizustellen und schadlos zu halten von und gegen jegliche Ansprüche, Forderungen, Verluste, Schäden, Kosten oder Haftungen (einschließlich angemessener Anwaltskosten), die sich aus oder im Zusammenhang mit Ihrer Nutzung von <strong>Portfolio</strong> und/oder Ihrem Verstoß gegen dieses Impressum ergeben.</p>
        
        <p>Bei Fragen oder Hinweisen wenden Sie sich bitte an <a href="mailto:i.karalis@outlook.de">i.karalis&#64;outlook.de</a>.</p>
        
        <p>Stand: 23. März 2026</p>
      }
    </section>

  </main>

  <app-footer></app-footer>

</div>