@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Karla:wght@400;700&display=swap');

:root {
  --font-karla: 'Karla', sans-serif;
  --font-fira: 'Fira Code', monospace;
}

html, body {
    margin: 0;
    background-color: #1C1C1C;
    
}

* {
  scrollbar-width: thin; 
  scrollbar-color: #3DCFB6 transparent; 
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #3DCFB6; 
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken(#3DCFB6, 10%);
}